* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  line-height: 1.6;
  background-color: var(--color-negro-carbon);
  color: var(--color-lona-cruda);
}

.app {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr) 40px;
  grid-template-areas:
    "hero"
    "concepto"
    "principios"
    "contenedor"
    "footer";
}

.hero {
  grid-area: hero;
}

.concepto {
  grid-area: concepto;
}

.principios {
  grid-area: principios;
}

.contenedor {
  grid-area: contenedor;
}

.footer {
  grid-area: footer;
}

/* -------------------------------------------->>>  Media queries */

/* Desktop */
@media (width >= 1200px) {    

}